*{
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.topbar{
    position: relative;
    background-color: #ff914d;
    width: calc(100% - 96px);
    padding: 0px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.topbar .logo{
    width: 65px;
}

.topbar .links{
    display: flex;
    align-items: center;
}

.topbar .links .menu-flil{
    margin-left: 20px;
}

.topbar .links .menu-flil a{
    padding: 2px 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.topbar .dropdown-content{
    display: none;
    background-color: #ffffff;
    width: calc(100vw - 50px);
    position: absolute;
    top: 55px;
    left: -247px;
    padding: 25px;
}

.topbar .link-menu{
    color: #ff914d;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 10px;
}

.column{
    width: 33%;
}
.topbar .login{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
.topbar .links .dropbtn {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    background-color: #ff914d;
    border: none;
    height: 54px;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255 145 77 / 26%);
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.topbar .column a {
    color: #ffbd56 !important;
    transition: 0.5s;
}

.topbar .column a:hover{
    color: #ff914d !important;
}

.topbar .menu .dropbtn {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    background-color: #ff914d;
    border: none;
    height: 54px;
    cursor: pointer;
}

.topbar .menu {
    display: none;
}

.informacao{
    width: 100%;
    bottom: -194px;
    background-color: rgba(0, 0, 0, 0.876);
    position: relative;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    overflow: hidden;
}

ul{
    list-style-type: none;

}

.part-um, .part-dois{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    
}

.part-tres{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 22px;
    font-family: sans-serif;
    font-size: 16px;
} 

.part-um a, .part-dois a, .part-tres a{
    display: flex;
    color: #f1f1f1; 
    flex-direction: column; 
    text-decoration: none;
    padding: 3px;
}

.part-um a:hover, .part-dois a:hover, .part-tres a:hover{
    transition: 0.5s;
    color: #ff914d;
}

.celular{
    height: 400px;
    padding: 20px 70px;
}

.row{
    position: absolute;
    left: 66px;
    bottom: 35px;
    width: calc(100% - 110px);
    padding: 0px 381px;
    font-family: sans-serif;
    font-size: 12px;
}

hr{
    width: 65%;
    color: white;
}

.rede{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    
}

@media screen and (max-width: 700px) {
    .topbar .links .menu-flil{
        display: none;
}
    .topbar .login {
        display: none;
    }
    .topbar .menu {
        display: block;
        flex-direction: column; 
    }
    .informacao {
        flex-direction: column;
    }
    .celular{
        height: 200px;
        width: 100px;
        padding: 20px 20px;
    }
}
    

